<ion-header>
  <ion-toolbar color="success">
    <ion-title class="font-serif">
      <ion-icon name="arrow-back-outline"></ion-icon>เวลาออกรถ</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg-orange-100 min-h-full py-4 px-4">
    <table class="border-separate border border-slate-400 bg-zinc-50">
      <thead>
        <tr>
          <th class="border border-slate-300 w-36">เวลาออกปกติ</th>
          <th class="border border-slate-300 w-36">เวลาที่เลท </th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
