<ion-header>
  <ion-toolbar color="success">
     <ion-title class="font-serif"> <ion-icon name="arrow-back-outline" ></ion-icon>คนขับรถประจำวัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg-orange-100 min-h-full py-4 px-4   ">
  <label for="exampleFormControlTextarea1 " class="font-serif"></label>
  <table class="border-separate  border border-slate-400 bg-zinc-50  ">
    <thead>
      <tr>
        <th class="border border-slate-300 w-48">ชื่อ-สกุล</th>
        <th class="border border-slate-300 w-24">ทะเบียนรถ</th>
        <th class="border border-slate-300 w-24">วัน/เวลา</th>
      </tr>
    </thead>
    <tbody class="text-sm">
      <tr>
        <td class="border border-slate-300 ">Indiana</td>
        <td class="border border-slate-300 ">Indiana</td>
        <td class="border border-slate-300 ">Indian</td>
      </tr>
      <tr>
        <td class="border border-slate-300 ">Ohio</td>
        <td class="border border-slate-300 ">Columbus</td>
        <td class="border border-slate-300 ">Indiana</td>
      </tr>
      <tr>
        <td class="border border-slate-300 ">Michigan</td>
        <td class="border border-slate-300 ">Detroit</td>
        <td class="border border-slate-300 ">Indian</td>
      </tr>
    </tbody>
  </table></div>
</ion-content>