<ion-header>
  <ion-toolbar color="success">
    <ion-title class="font-serif">
      <ion-icon name="arrow-back-outline"></ion-icon>ตารางเดินรถ</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="bg-orange-100 min-h-full py-4 px-4">
    <label for="exampleFormControlTextarea1 " class="font-serif"
      >รายละเอียดคนขับ</label>
    <table class="border-separate border border-slate-400 bg-zinc-50">
      <thead>
        <tr>
          <th class="border border-slate-300 w-48">ชื่อ-สกุล</th>
          <th class="border border-slate-300 w-24">ทะเบียนรถ</th>
          <th class="border border-slate-300 w-24">วันที่</th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
          <td class="border border-slate-300">3</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
          <td class="border border-slate-300">3</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
          <td class="border border-slate-300">3</td>
        </tr>
      </tbody>
    </table>
    <label for="exampleFormControlTextarea1 " class="font-serif flex mt-4"
      >เวลาออกรถ</label
    >
    <table class="border-separate border border-slate-400 bg-zinc-50">
      <thead>
        <tr>
          <th class="border border-slate-300 w-40">เวลาออกรถปกติ</th>
          <th class="border border-slate-300 w-40">เวลาที่เลท</th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
        <tr>
          <td class="border border-slate-300">1</td>
          <td class="border border-slate-300">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
