<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="arrow-back-outline"></ion-icon>ข้อเสนอเเนะ</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-orange-100 min-h-full py-12 px-4">
    <div class="form-group mt-3">
      <label for="exampleFormControlTextarea1">เขียนข้อเสนอเเนะ</label>
      <textarea
        class="form-control border border-gray-300 mt-3"
        id="exampleFormControlTextarea1"
        rows="9"
        cols="40"
      ></textarea>
    </div>
    <div class="flex justify-end p-5">
      <ion-button color="success">
        <ion-icon name="checkmark-outline" class="p-1"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
